body{

background:linear-gradient(135deg,#2b0a3d,#6a0dad,#b57edc);

height:100vh;

display:flex;

align-items:center;

justify-content:center;

font-family:Segoe UI;

}

.card-box{

width:420px;

padding:40px;

border-radius:15px;

background:rgba(255,255,255,0.08);

backdrop-filter:blur(10px);

box-shadow:0 10px 40px rgba(0,0,0,0.4);

color:white;

}

.card-box h2{

text-align:center;

margin-bottom:30px;

}

.input-group{

position:relative;

margin-bottom:25px;

}

.input-group input{

width:100%;

padding:12px;

border:none;

border-radius:8px;

background:rgba(255,255,255,0.15);

color:white;

outline:none;

}

.input-group label{

position:absolute;

top:50%;

left:12px;

transform:translateY(-50%);

color:#ddd;

transition:0.3s;

pointer-events:none;

}

.input-group input:focus + label,
.input-group input:valid + label{

top:-8px;

font-size:12px;

color:white;

}

.password-wrapper{

position:relative;

}

.toggle-password{

position:absolute;

right:12px;

top:50%;

transform:translateY(-50%);

cursor:pointer;

color:#ddd;

}

.btn-custom{

width:100%;

padding:12px;

border:none;

border-radius:8px;

background:linear-gradient(45deg,#8e2de2,#c471ed);

color:white;

font-weight:bold;

cursor:pointer;

margin-top:10px;

}

.btn-back{

width:100%;

padding:10px;

border:none;

border-radius:8px;

background:#2b0a3d;

color:white;

margin-top:10px;

cursor:pointer;

}

/* toast */

.toast{

position:fixed;

top:20px;

right:20px;

padding:15px 25px;

background:#2b0a3d;

color:white;

border-radius:8px;

opacity:0;

transform:translateY(-20px);

transition:0.3s;

}

.toast.show{

opacity:1;

transform:translateY(0);

}

.toast.success{

background:#8e44ad;

}

.toast.error{

background:#c0392b;

}

.date-label{

display:block;

margin-bottom:6px;

font-size:14px;

color:#eee;

}

/* navbar */

.navbar{

position:fixed;

top:0;

left:0;

width:100%;

height:60px;

background:rgba(43,10,61,0.8);

backdrop-filter:blur(10px);

display:flex;

justify-content:space-between;

align-items:center;

padding:0 30px;

color:white;

}

.logo{

font-weight:bold;

font-size:18px;

color:#e0b3ff;

}

.nav-right{

display:flex;

align-items:center;

gap:15px;

}

.nav-btn{

padding:10px 20px;

margin-right:50px;

border:none;

border-radius:6px;

background:linear-gradient(45deg,#8e2de2,#c471ed);

color:white;

cursor:pointer;

}

/* dashboard */

.dashboard-container{

width:100%;

height:100vh;

display:flex;

align-items:center;

justify-content:center;

padding-top:60px;

}

.switch-text{
text-align:center;
margin-top:15px;
font-size:14px;
}

.switch-text a{
color:#c471ed;
font-weight:600;
text-decoration:none;
}

.switch-text a:hover{
text-decoration:underline;
}